{"worldWidth":20,"worldHeight":20,"worldHigh":7,"amountOfTicks":60,"playerX":64,"playerY":0,"tamanhoPreSets":32,"totalLayers":4,"propriedades":["Solid","Speed"],"transportes":["colisao","clique direito","Buraco aberto","Buraco fechado"],"nomeModosSprites":["Full Tile","layer"],"spriteSheetExternos":[],"spritesIgnorados":[],"nomeAlturaUi":"Altura: ","nomeLimparUi":"limpar_seleção","nomeCaixaUi":"caixa","nomePreencherUi":"preencher","nomeSubstituirUi":"substituir?","nomeSalva_construcaoUi":"salvar construção","nomeTilesNivel":"layer dos tiles: ","nomeModo":"Modo e colocação dos Sprites","nomeTrocar":"Trocar","tileSize":64}
